<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrapChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <CrapChat.Properties.Settings>
            <setting name="DefaultUsername" serializeAs="String">
                <value>Anon</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>14242</value>
            </setting>
            <setting name="DefaultNewServerName" serializeAs="String">
                <value>New Server</value>
            </setting>
            <setting name="DefaultNewServerPort" serializeAs="String">
                <value>14242</value>
            </setting>
        </CrapChat.Properties.Settings>
    </applicationSettings>
</configuration>